.btn {
    border: 1px solid black;
    color: #FFF;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    min-width: 50px;
    max-width: 50px;
}

.btnDouble {
    min-width: 100px;
    text-align: left;
}

.btnOrange {
    background-color: #FF9E06;
}

.btnOrange:active {
    background-color: #cc7a00;
}

.btnDefault {
    background-color: #848383 ;
}

.btnDefault:active {
    background-color: silver;
}

button {
    outline: none;
}